#bt1 {
    padding-top: .75rem;
    padding-right: .5rem;
}
.parallax-container {
    height: 450px;
  }
@media (min-width: 890px) {
    .brand-logo-trigger {
        font-weight: 600;
        font-size: 1.1rem;
    }
}
@media (min-width: 1100px) {
    .brand-logo-trigger {
        font-weight: 600;
        font-size: 1.40rem;
    }
}
