html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    font-size: 2rem;
}
nav > p {
    padding: 15px;
}

nav {
    display: flex;
}
.header {
    background-image: url("../Wells.png");
    background-repeat: no-repeat;
    background-size: cover;
}
